
.form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30rem;
    margin: auto;
}
.formInput {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 100%;
}
.formBtn{
    border: 1px solid black;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 4rem;
    box-shadow: .5rem .5rem .5rem .1rem gray;
}
.formBtn:active{
    box-shadow: none;
    transform: translate(.5rem, .5rem)
}
.formBtn:focus{
    outline: rgb(78, 110, 212) 5px solid;
}
.error{
    font-size: 14px;
    color: red;
}
